# build output
dist/
.vercel/

# dependencies
node_modules/

# logs
*.log

# environment variables
.env
.env.*
!.env.example

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# astro
.astro/
.vercel
